<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.todotxt.todotxttouch" android:versionName="0.1"
	android:versionCode="14">
	<!-- java warning 'is lower than the project target API level' should be ok -->
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:name=".TodoApplication" android:icon="@drawable/todotxt_touch_icon"
		android:label="@string/app_label" android:debuggable="true">
		<supports-screens android:smallScreens="true"
			android:normalScreens="true" android:largeScreens="true"
			android:anyDensity="true" android:resizeable="true" />

		<activity android:name=".LoginScreen" android:label="@string/app_label"
			android:theme="@android:style/Theme.NoTitleBar"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".Filter" android:label="Filter"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".Preferences" android:label="@string/set_preferences" />
		<activity android:name=".AddTask" android:label="@string/addtask"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".TodoTxtTouch"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
	</application>
</manifest> 
