<?xml version="1.0" encoding="utf-8"?>

<!--
This file is part of Todo.txt, an Android app for managing your todo.txt file (http://todotxt.com).

Copyright (c) 2009-2013 Todo.txt contributors (http://todotxt.com)

LICENSE:

Todo.txt is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any
later version.

Todo.txt is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with Todo.txt.  If not, see
<http://www.gnu.org/licenses/>.

@author Todo.txt contributors <todotxt@yahoogroups.com>
@license http://www.gnu.org/licenses/gpl.html
@copyright 2009-2013 Todo.txt contributors (http://todotxt.com)
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todotxt.todotxttouch"
    android:versionCode="56"
    android:versionName="2.2">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TodoApplication"
        android:allowBackup="true"
        android:icon="@drawable/todotxt_touch_icon"
        android:label="@string/app_label"
        android:theme="@style/Theme.TodoTxt">
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="@string/dropbox_consumer_key" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_label"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/set_preferences" />
        <activity
            android:name=".AddTask"
            android:label="@string/addtask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".AddTaskShortcut"
            android:label="@string/shortcut_addtask_name"
            android:targetActivity=".AddTask">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AddTaskShare"
            android:label="@string/share_addtask_name"
            android:targetActivity=".AddTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="com.google.android.gm.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".HelpActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".TodoTxtTouch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Task list widget -->
        <receiver
            android:name=".TodoWidgetProvider"
            android:enabled="@bool/below_api_14"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.todotxt.todotxttouch.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_widget_provider" />
        </receiver>
        <receiver android:name=".PeriodicSyncStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.todotxt.todotxttouch.widget.ListWidgetProvider"
            android:enabled="@bool/api_14_or_above"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.todotxt.todotxttouch.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget_info" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name="com.todotxt.todotxttouch.widget.ListWidgetService"
            android:enabled="@bool/api_14_or_above"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".SyncerService" />
    </application>

</manifest>